<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias type="java.util.Map" alias="map" />
		<typeAlias type="java.util.List" alias="list" />
		<typeAlias type="java.lang.Integer" alias="integer" />
		<typeAlias type="com.usc.dto.impl.MapDto" alias="dto" />
	</typeAliases>
</configuration>